<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SlideShowScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6DA734D1D0CF93600E3E529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6DA73661D0CF93600E3E529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6DA73711D0CF93600E3E529</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
